@{
    ViewBag.Title = "SenBro";
    Layout = null;
}
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<h2>SenBro</h2>
<@*div class="col-md-12">
    <div class="col-md-6">
        <img src="~/SenBroImg/Orders-icon.png" />
    </div>
    <div class="col-md-6">
        <img src="~/SenBroImg/exchange.png" />
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-6">
        <img src="~/SenBroImg/Return.png" />
    </div>
    <div class="col-md-6">
        <img src="~/SenBroImg/Report.png" />
    </div>
</div>*@

<div class="col-md-12">
    <table class="col-md-12">
        <tr>
            <td>

                <img src="~/SenBroImg/Orders-icon.png" />
            </td>
            <td>
                <img src="~/SenBroImg/exchange.png" />
            </td>

        </tr>
        <tr>
            <td>
                <img src="~/SenBroImg/Return.png" />
            </td>
            <td>

                <img src="~/SenBroImg/Report.png" />
            </td>
        </tr>


    </table>
</div>