
<!DOCTYPE html>
<html>
<head>

</head>
<body>

    <table style="width: 100%">
        <tr>
            <th colspan="7" align="center">


                <span style="font-size:large;font-weight:bolder">HI-BREED INTERNATIONAL SALES && SERVICE</span><br />
                <span style="font-size:medium;font-weight:normal"> 22, R.N. Mukherjee Road, 5th Floor, Kolkata-700 001</span><br />
                <span style="font-size:medium;font-weight:normal">GST NO - 19AABFH7726D1ZG</span>
                <br />
                <span style="font-size:medium;font-weight:normal"></span>
                <br />
                <div style="font-size:small;font-weight:normal;text-align:left;padding-left:10px">
                    Ledger For:<b> @ViewBag.LedgerName </b>
                    <br />
                    Address: @ViewBag.Address
                </div>
            </th>
        </tr>
    </table>

</body>
</html>
